{% extends 'registration/email_base.html' %}

{% block title %}Подтверждение аккаунта{% endblock %}

{% block text %}
   Для пользователя <strong>{{ user }}</strong> на сайте <strong>Platinum Dragons</strong> требуется подтверждение аккаунта для дальнейшего пользования. Чтобы подтвердить аккаунт нажмите на кнопку ниже.
{% endblock %}

{% block warn %}!!! В случае, если вы не регистрировали аккаунт на сайте проигнорируйте данное сообщение.{% endblock %}

{% block link %}
   <a class="mcnButton " title="Восстановить" href="{{ protocol }}://{{ domain }}{% url 'user_confirm' uidb64=uid token=token %}"
   target="_blank"
   style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Подтвердить</a>
{% endblock %}

{% block code %}{{code}}{% endblock %}