
{% extends 'registration/email_base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block text %}
   На сайте <strong>Platinum Dragons </strong>было запрошено восстановление пароля для пользователя <strong>{{ user }}</strong>. Чтобы восстановить пароль нажмите на кнопку ниже.
{% endblock %}

{% block warn %}!!! В случае, если вы не запрашивали восстановление пароля на сайте проигнорируйте данное сообщение.{% endblock %}

{% block link %}
   {{ protocol }}://{{ domain }}{% url 'recovery_confirm' uidb64=uid token=token %}
{% endblock %}