
{% extends 'registration/email_base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block text %}
   На сайте <strong>Platinum Dragons </strong>было запрошено восстановление пароля для пользователя <strong>{{ user }}</strong>. Чтобы восстановить пароль нажмите на кнопку ниже.
{% endblock %}

{% block warn %}!!! В случае, если вы не запрашивали восстановление пароля на сайте проигнорируйте данное сообщение.{% endblock %}

{% block link %}
   <a class="mcnButton " title="Восстановить" href="{{ protocol }}://{{ domain }}{% url 'recovery_confirm' uidb64=uid token=token %}"
   target="_blank"
   style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Восстановить</a>
{% endblock %}

{% block code %}{{code}}{% endblock %}