{% extends 'bases/base.html' %}
{% load static %}

{% block content %}
<section class="privacy">
	<h2 class="privacy__policy">Политика файлов Cookies</h2>
	<div class="privacy__items">
		<div class="privacy__item">
			<h3 class="privacy__title">Что такое куки (cookies)?</h3>
			<p class="privacy__text">
				Куки - это небольшие текстовые файлы, которые сайт сохраняет на вашем компьютере или на
				мобильном устройстве, когда вы заходите на сайт. Куки широко используются как для обеспечения
				корректной или более эффективной работы сайта, так и для предоставления нужной информации
				владельцам сайта.
			</p>
		</div>
		<div class="privacy__item">
			<h3 class="privacy__title">Как мы используем куки?</h3>
			<p class="privacy__text">
				Мы используем куки для того, чтобы узнавать вас, когда вы заходите на наш сайт. Это означает,
				что вам не нужно авторизовываться каждый раз когда вы заходите на наш сайт. А также куки
				используются
				для работоспособности сервисов авторизации сайта (регистрация, восстановление пароля,
				подтверждение пользователя).
				Это озночае, что зарегистрироваться на сайте было бы невозможно без использования куки.
			</p>
		</div>
	</div>
</section>
{% endblock %}


{% block sidebar %}
{% endblock %}