<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css?_v=20221003141008" />
	<link rel="stylesheet" href="css/style.min.css?_v=20221003141008">
	<link rel="shortcut icon" href="favicon.ico">
	<title>Ошибка 404</title>
</head>

<body>
	<div class="wrapper">
		<div class="error">
			<div class="error__type">404</div>
			<div class="error__container">
				<div class="error__message">
					<h2 class="error__title">Страница не найдена</h2>
				</div>	
				<div class="error__replace">Перенаправление</div>	
			</div>	
		</div>
	</div>
	<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js?_v=20221003141008"></script>
	<script src="js/app.min.js?_v=20221003141008"></script>
</body>

</html>