{% extends 'bases/base.html' %}
{% load static %}

{% block content %}
<section class="privacy">
						<h2 class="privacy__policy">Политика конфиденциальности</h2>
						<div class="privacy__items">
							<div class="privacy__item">
								<h3 class="privacy__title">Порядок сбора, хранения, передачи и других видов обработки
									персональных данных</h3>
								<p class="privacy__text">
									Оператор при обработке персональных данных обеспечивает конфиденциальность персональных
									данных.
								</p>
								<p class="privacy__text">
									Оператор осуществляет хранение персональных данных в форме, позволяющей определить субъекта
									персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если
									срок хранения персональных данных не установлен федеральным законом, договором, стороной
									которого, выгодоприобретателем или поручителем по которому является субъект персональных
									данных.
								</p>
								<p class="privacy__text">
									Условием прекращения обработки персональных данных может являться достижение целей обработки
									персональных данных, истечение срока действия согласия субъекта персональных данных или отзыв
									согласия субъектом персональных данных, а также выявление неправомерной обработки
									персональных данных.
								</p>
							</div>
							<div class="privacy__item">
								<h3 class="privacy__title">Конфиденциальность персональных данных</h3>
								<p class="privacy__text">
									Оператор и иные лица, получившие доступ к персональным данным, обязаны не раскрывать третьим
									лицам и не распространять персональные данные без согласия субъекта персональных данных, если
									иное не предусмотрено федеральным законом.
								</p>
							</div>
							<div class="privacy__item">
								<h3 class="privacy__title">Перечень действий, производимых Оператором с полученными
									персональными данными</h3>
								<p class="privacy__text">
									Оператор осуществляет сбор, запись, систематизацию, накопление, хранение, уточнение
									(обновление, изменение), извлечение, использование, передачу (распространение,
									предоставление, доступ), обезличивание, блокирование, удаление и уничтожение персональных
									данных.
								</p>
								<p class="privacy__text">
									Оператор осуществляет автоматизированную обработку персональных данных с получением и/или
									передачей полученной информации по информационно-телекоммуникационным сетям или без таковой.
								</p>
							</div>
							<div class="privacy__item">
								<h3 class="privacy__title">Трансграничная передача персональных данных</h3>
								<p class="privacy__text">
									Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться
									в том, что иностранным государством, на территорию которого предполагается осуществлять
									передачу персональных данных, обеспечивается надежная защита прав субъектов персональных
									данных.
								</p>
								<p class="privacy__text">
									Трансграничная передача персональных данных на территории иностранных государств, не
									отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в
									письменной форме субъекта персональных данных на трансграничную передачу его персональных
									данных и/или исполнения договора, стороной которого является субъект персональных данных.
								</p>
							</div>
						</div>
</section>
{% endblock %}


{% block sidebar %}
{% endblock %}