{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}

{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}<div id="footer"></div>{% endblock %}

{% block extrascripts %}
   <script>
   tinymce.init({
      forced_root_block : "",
      selector:'textarea',  
      language:"ru"
   });
   </script>
   <script src="{% static 'custom_admin/js/custom_form_behavior.js' %}"></script>
{% endblock %}
